@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
}

@font-face {
  font-family: 'Main-light';
  font-weight: 200;
  src: local('Main-light') url('../fonts/titanium/TitilliumWeb-ExtraLight.ttf') format("truetype");
}
@font-face {
  font-family: 'Main-medium';
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
}
@font-face {
  font-family: 'Main-heavy';
  font-weight: 700;
  src: url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
}
@font-face {
  font-family: 'Main-ultra-heavy';
  font-weight: 900;
  src: url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');
}

:root {
  --font-body: 'Arial Black, sans-serif';
  --font-heading: 'Oswald, sans-serif';

  --font-main-light: 'Main-light, sans-serif';
  --font-main-medium: 'Main-medium, sans-serif';
  --font-main-heavy: 'Main-heavy, sans-serif';
  --font-main-ultra-heavy: 'Main-ultra-heavy, sans-serif';


  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-size-xxl: 3rem;
  --font-size-xl: 1.5rem;
  --font-size-lg: 1.15rem;
  --font-size-md: .975rem;
  --font-size-sm: .75rem;
}

:root {
  --color-light: #f8f9fa;
  --color-dark: #212529;
  --color-lightGrey: #ced4da;
  --color-darkGrey: #6c757d;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-size: 100%;
  font-family: var(--font-body);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  -webkit-background-color: var(--color-lightGrey);
  background-color: var(--color-lightGrey);
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-background-color: var(--color-dark);
  background-color: var(--color-dark);
}

::-webkit-scrollbar-thumb {
  -webkit-background-color: var(--color-darkGrey);
  background-color: var(--color-darkGrey);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-background-color: var(--color-lightGrey);
  background-color: var(--color-lightGrey);
}
